<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (C) 2007 - 2010 GeoSolutions S.A.S.
 http://www.geo-solutions.it

 GPLv3 + Classpath exception

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:bean="http://servicemix.apache.org/bean/1.0"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
        http://servicemix.apache.org/bean/1.0  http://servicemix.apache.org/schema/servicemix-bean-2009.02-20090404.052411-9.xsd">

    <!--=====================================================================-->
	<!-- Services -->
    <!--=====================================================================-->

    <bean id="sessionManager" class="it.geosolutions.geofence.login.util.SessionManager">
    </bean>

    <bean id="mainLoginService" class="it.geosolutions.geofence.login.LoginServiceImpl">
        <property name="sessionManager" ref="sessionManager"/> 
	</bean>

</beans>
