<org.geoserver.security.config.SecurityContextPersistenceFilterConfig>
  <id>3c23db70:140aa7a5694:-7ff9</id>
  <name>contextAsc</name>
  <className>org.geoserver.security.filter.GeoServerSecurityContextPersistenceFilter</className>
  <allowSessionCreation>true</allowSessionCreation>
</org.geoserver.security.config.SecurityContextPersistenceFilterConfig>