<org.geoserver.security.config.UsernamePasswordAuthenticationFilterConfig>
  <id>3c23db70:140aa7a5694:-7ffa</id>
  <name>form</name>
  <className>org.geoserver.security.filter.GeoServerUserNamePasswordAuthenticationFilter</className>
  <passwordParameterName>password</passwordParameterName>
  <usernameParameterName>username</usernameParameterName>
</org.geoserver.security.config.UsernamePasswordAuthenticationFilterConfig>