<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	    	http://www.springframework.org/schema/beans
	   		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
	default-autowire="byName">


	<bean id="geofence-gs-property-configurer"
		class="it.geosolutions.geofence.config.GeoFencePropertyPlaceholderConfigurer">
		<constructor-arg ref="dataDirectory"/>
		<property name="locations">
		  <list>
		      <value>classpath*:geofence-geoserver.properties</value>
		      <value>file:geofence/geofence-geoserver.properties</value>
		  </list>
		</property>
		<property name="ignoreResourceNotFound" value="true" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
	</bean>
	
	<bean id="geofence-cache-property-configurer"
        class="it.geosolutions.geofence.config.GeoFencePropertyPlaceholderConfigurer">
        <constructor-arg ref="dataDirectory"/>
        <property name="locations">
          <list>
              <value>classpath*:geofence-cache.properties</value>
              <value>file:geofence/geofence-cache.properties</value>
          </list>
        </property>
        <property name="ignoreResourceNotFound" value="true" />
        <property name="ignoreUnresolvablePlaceholders" value="true" />
    </bean>

	<!-- TODO: add authorization to these requests using the hints at
	     http://book.javanb.com/Professional-Java-Development-with-the-Spring-Framework/BBL0071.html
	-->
	<!--
	    see if you can add some ehcache proxy interceptor when we switch to using remoted services
	-->

	<bean id="baseReaderService" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean" lazy-init="true">
        <property name="serviceUrl" value="${servicesUrl}"/>
        <property name="serviceInterface" value="it.geosolutions.geofence.services.RuleReaderService"/>
    </bean>

	<bean id="cachedRuleReader" class="it.geosolutions.geofence.cache.CachedRuleReader" lazy-init="true" init-method="init">
	    <constructor-arg index="0" ref="geofence-cache-property-configurer" />
        <property name="cacheInitParams.size" value="${cacheSize}"/>
        <property name="cacheInitParams.refreshMilliSec" value="${cacheRefresh}"/>
        <property name="cacheInitParams.expireMilliSec" value="${cacheExpire}"/>

        <property name="realRuleReaderService" ref="baseReaderService"/>
    </bean>

    <!-- You may replace the cachedRuleReader ref with ruleReaderService ref in order to disable the caching -->
    <alias name="cachedRuleReader" alias="ruleReaderService"/>

	<bean id="geofenceRuleAccessManager" class="it.geosolutions.geofence.GeofenceAccessManager">
<!--		<constructor-arg index="0" ref="ruleReaderService" />-->
		<constructor-arg index="0" ref="ruleReaderService" />
		<constructor-arg index="1" ref="rawCatalog" />
		<constructor-arg index="2" ref="geofence-gs-property-configurer" />
		<constructor-arg index="3">
		  <bean class="it.geosolutions.geofence.GeofenceAccessManagerConfiguration">
		        <property name="instanceName" value="${instanceName}"/>
		        <property name="servicesUrl" value="${servicesUrl}"/>
		        <property name="allowDynamicStyles" value="${allowDynamicStyles}"/>
		        <property name="allowRemoteAndInlineLayers" value="${allowRemoteAndInlineLayers}"/>
		        <property name="grantWriteToWorkspacesToAuthenticatedUsers" value="${grantWriteToWorkspacesToAuthenticatedUsers}"/>
		        <property name="useRolesToFilter" value="${useRolesToFilter}"/>
		        <property name="acceptedRoles" value="${acceptedRoles}"/>
		  </bean>
		</constructor-arg>
	</bean>

    <!-- =================================================================== -->
    <!-- Next part is about REST command against the cache -->
    <!-- =================================================================== -->

    <bean id="ruleReaderCacheMapping" class="org.geoserver.rest.RESTMapping">
        <property name="routes">
            <map>
                <entry>
                    <key>
                        <value>/ruleCache/info</value>
                    </key>
                    <value>ruleCacheStatsFinder</value>
                </entry>
                <entry>
                    <key>
                        <value>/ruleCache/invalidate</value>
                    </key>
                    <value>ruleCacheInvalidator</value>
                </entry>
            </map>
        </property>
    </bean>
    
    
    <bean id="ruleCacheStatsFinder" class="it.geosolutions.geofence.cache.rest.RuleCacheStatsFinder" >
        <constructor-arg index="0" ref="cachedRuleReader"/>
    </bean>
    
    
    <bean id="ruleCacheInvalidator" class="it.geosolutions.geofence.cache.rest.RuleCacheInvalidator" >
        <constructor-arg index="0" ref="cachedRuleReader"/>
    </bean>

	<!-- =================================================================== -->
    <!-- Next part is about REST command against accessManager -->
    <!-- =================================================================== -->
	<bean id="accessManagerMapping" class="org.geoserver.rest.RESTMapping">
		<property name="routes">
            <map>
                <entry>
                    <key>
                        <value>/geofence/info</value>
                    </key>
                    <value>geofenceInfo</value>
                </entry>
            </map>
        </property>
	</bean>

	<bean id="geofenceInfo" class="it.geosolutions.geofence.rest.GeoFenceInfo" >
        <constructor-arg index="0" ref="geofenceRuleAccessManager"/>
    </bean>

    <!-- geoserver auth mechanism -->
	
    <bean id="geofenceFilter" class="it.geosolutions.geoserver.authentication.filter.GeoFenceAuthFilterProvider">
        <property name="ruleReaderService" ref="ruleReaderService"/>
        <property name="geofenceAuth" ref="geofenceAuth"/>
    </bean>

    <bean id="geofenceAuth" class="it.geosolutions.geoserver.authentication.auth.GeoFenceSecurityProvider">
        <property name="ruleReaderService" ref="ruleReaderService"/>
    </bean>
    
    <!-- Admin page -->
    <bean id="geofencePage" class="org.geoserver.web.MenuPageInfo">
      <property name="id" value="geofencePage"/>
      <property name="titleKey" value="GeofencePage.page.title"/>
      <property name="descriptionKey" value="GeofencePage.page.description"/>
      <property name="componentClass" value="it.geosolutions.geofence.web.GeofencePage"/>
      <property name="category" ref="securityCategory" />
      <property name="order" value="1000" />
      <property name="icon" value="img/icons/geofence.png" />
    </bean>

</beans>
