<org.geoserver.security.config.BasicAuthenticationFilterConfig>
  <id>3c23db70:140aa7a5694:-7ffb</id>
  <name>basic</name>
  <className>org.geoserver.security.filter.GeoServerBasicAuthenticationFilter</className>
  <useRememberMe>true</useRememberMe>
</org.geoserver.security.config.BasicAuthenticationFilterConfig>