<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="
	    	http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
       default-autowire="byName">

    <bean id="userAdminService" class="it.geosolutions.geofence.services.UserAdminServiceImpl">
    </bean>

    <bean id="gfUserAdminService" class="it.geosolutions.geofence.services.GFUserAdminServiceImpl">
    </bean>

    <bean id="userGroupAdminService" class="it.geosolutions.geofence.services.UserGroupAdminServiceImpl">
    </bean>

    <bean id="instanceAdminService" class="it.geosolutions.geofence.services.InstanceAdminServiceImpl">
    </bean>

    <bean id="ruleAdminService" class="it.geosolutions.geofence.services.RuleAdminServiceImpl">
    </bean>

    <bean id="ruleReaderService" class="it.geosolutions.geofence.services.RuleReaderServiceImpl">
    </bean>

</beans>
