<org.geoserver.security.config.ExceptionTranslationFilterConfig>
  <id>3c23db70:140aa7a5694:-7ff2</id>
  <name>exception</name>
  <className>org.geoserver.security.filter.GeoServerExceptionTranslationFilter</className>
  <accessDeniedErrorPage>/accessDenied.jsp</accessDeniedErrorPage>
</org.geoserver.security.config.ExceptionTranslationFilterConfig>